.lista-filmes {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.meus-filmes {
    text-align: center;
    padding-bottom: 10px;
}

.meus-filmes h1 {
    margin-bottom: 20px;
}

.container-filme {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.actions-filme {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-filme {
    background-color: #242424;
    color: #fff;
    text-decoration: none;
    height: 30px;
    width: 100%;
}

.button-primary.link {
    text-decoration: none;
    background-color: transparent;
    border: 1px solid transparent;
    color: #242424;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
}

.button-primary.link:hover {
    border-bottom: 1px solid #242424;
}

@media (max-width: 600px) {
    .lista-filmes {
        margin: 0 auto;
        justify-content: center;
        gap: 2rem;
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
    }
}

.title-filme-details {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
